.project-image {
    width: 50%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #808080;
    margin-top: 20px;
    border-top: 1px solid #ddd;
}

.firefly {

    background-color:#5fc968
}

.ellen-joe {

    background-color:#808080
}

.hatsune-miku {
    margin-bottom: 30px;
    background-color:#4f81bd
}

a:visited {
    color: #551A8B;
}

a:hover {
    color: #FF5733;
}